* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --logo-font: 'Maven Pro', sans-serf;
    --gunmetal: #1F3136ff;
    --burnt-sienna: #E2654Aff;
    --charcoal: #3C5863ff;
    --atomic-tangerine: #FFA57Fff;
    --gunmetal-2: #1B3641ff;
}

.container {
    min-height: 100vh;
    min-width: 100vw;
    background: url(./assets/bg.gif);
    background-position: center;
    background-size: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: whitesmoke;
    font-size: 60px;
    font-family: var(--logo-font);
    font-weight: 300;
    padding: 0;
    margin: 0;
    line-height: 1;
}

.wraper {
    backdrop-filter: blur(5px);
    width: 65vw;
    min-height: 100vh;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
}

.logo_modal {
    background-color: rgba(31, 49, 54, 0.8);
    backdrop-filter: blur(5px);
    width: 35vw;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: calc(35vh - 140px);
}

.logo_modal img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

form {
   color: white;
}

.row {ß
    width: 100%;
    color: white;
}

.row_one, .row_three {
    background-color: rgba(200,189, 189, 0.8);
    height: 35vh;
}

.row_two {
    height: 30vh;
    background-color: ;
}


@media screen and (max-width: 700px) {
    h1 {
        font-size: 50px;
    }
}