* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    min-width: 100vw;
    background: url(./assets/bg.gif);
    background-position: center;
    background-size: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    text-align: center;
    color: whitesmoke;
    font-size: 25px;
    font-size: 80px;
    font-family: 'Helvetica';
    font-weight: 300;
}

.wraper {
    background-color: rgba(0, 68, 128, 0.605);
    border: 1px solid rgba(54,54,54,0.2);
    backdrop-filter: blur(5px);
    width: 50vw;
    min-height: 80vh;
    border-radius: 15px;
}

.modal {
    background-color: rgba(54, 54, 54, 0.186);
    backdrop-filter: blur(5px);
    min-height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
   color: white;
}